<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Sunny</key>
	<string>ff6666</string>
	<key>Clear</key>
	<string>ff6666</string>
	<key>多云</key>
	<string>2699c7</string>
	<key>Cloudy</key>
	<string>2699c7</string>
	<key>阴</key>
	<string>006385</string>
	<key>阵雨</key>
	<string>009999</string>
	<key>Showers</key>
	<string>009999</string>
	<key>雷阵雨</key>
	<string>7a1c7d</string>
	<key>Thundershowers</key>
	<string>7a1c7d</string>
	<key>雷阵雨有冰雹</key>
	<string>7a1c7d</string>
	<key>雨夹雪</key>
	<string>7a1c7d</string>
	<key>小雨</key>
	<string>01a765</string>
	<key>中雨</key>
	<string>01a765</string>
	<key>大雨</key>
	<string>01a765</string>
	<key>暴雨</key>
	<string>01a765</string>
	<key>大暴雨</key>
	<string>01a765</string>
	<key>特大暴雨</key>
	<string>01a765</string>
	<key>阵雪</key>
	<string>bbb6b3</string>
	<key>小雪</key>
	<string>bbb6b3</string>
	<key>中雪</key>
	<string>bbb6b3</string>
	<key>大雪</key>
	<string>bbb6b3</string>
	<key>暴雪</key>
	<string>bbb6b3</string>
	<key>雾</key>
	<string>bbb6b3</string>
	<key>冻雨</key>
	<string>bbb6b3</string>
	<key>沙尘暴</key>
	<string>bbb6b3</string>
	<key>小雨-中雨</key>
	<string>848786</string>
	<key>中雨-大雨</key>
	<string>848786</string>
	<key>大雨-暴雨</key>
	<string>848786</string>
	<key>暴雨-大暴雨</key>
	<string>848786</string>
	<key>大暴雨-特大暴雨</key>
	<string>848786</string>
	<key>小雪-中雪</key>
	<string>bbb6b3</string>
	<key>中雪-大雪</key>
	<string>bbb6b3</string>
	<key>大雪-暴雪</key>
	<string>bbb6b3</string>
	<key>浮尘</key>
	<string>bbb6b3</string>
	<key>扬沙</key>
	<string>bbb6b3</string>
	<key>强沙尘暴</key>
	<string>bbb6b3</string>
	<key>霾</key>
	<string>bbb6b3</string>
</dict>
</plist>
